.space-y-3.pb-4
  %h2.font-medium.text-lg Options
  .grid.lg:grid-cols-3.grid-cols-2.gap-3
    - if is_new
      - @product.product_options.sort_by_position.each do |po|
        = form.fields_for :variant_option_values, VariantOptionValue.new do |vov_form|
          = render "option_select", product_option: po, vov_form:
    - else
      - @product.product_options.sort_by_position.each do |po|
        = form.fields_for :variant_option_values, @variant.variant_option_values.joins(:product_option_value).find_by(product_option_value: {product_option_id: po.id}) || VariantOptionValue.new do |vov_form|
          = render "option_select", product_option: po, vov_form:
