.cursor-pointer.px-3.py-2.hover:bg-gray-200{data: {action: "click->admin--products--variants--options-dropdown#selectOption", pov_id: pov_id, pov_name: pov_name}}
  %span{"option-placeholder": nil}
    = pov_name
