.margin-max-screen.py-7.flex.flex-col.gap-5
  .grid.grid-cols-3.gap-5
    = render "order_card"
  .grid.grid-cols-1.gap-10
    .bg-white.p-5.shadow.h-96
      %canvas{"data-controller": "chart" , "data-chart-config-value": @chart_config.to_json} 

