- title "Orders"
- description "My Orders"
- keywords "cart, product, orders"

= render Account::LayoutComponent.new do
  .grid.bg-white.pb-3
    .font-semibold.text-lg.sm:hidden
      My Orders
    = render "status_tab"
    .grid.gap-3.pt-3{data: {controller: "items", empty: "items-empty", "item": "order-item"}}
      - if @orders.present?
        - @orders.each do |order|
          = render "item", order:
      = render EmptyItemComponent.new text: "No orders yet", hide: @orders.present?
