@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .margin-max-screen {
    @apply mx-auto max-w-margin px-3 md:px-4 lg:px-8 w-full;
  }

  select option[value=""],
  select option:not([value]) {
    @apply text-gray-500;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary py-3 px-6 rounded-sm text-white w-fit transition-all ease-in-out duration-100 text-sm;
  }

  .btn-primary-lite {
    @apply bg-primary/10 py-3 px-6 rounded-sm text-primary border border-primary w-fit transition-all ease-in-out duration-100 text-sm;
  }

  .btn-plain {
    @apply border border-gray-500 bg-white py-3 px-6 rounded-sm w-fit transition-all ease-in-out duration-100 text-sm;
  }

  .input-primary {
    @apply px-3 w-full rounded-sm ring-1 ring-gray-400 border-0 focus:border-0 focus:ring-2 focus:ring-primary disabled:cursor-not-allowed disabled:placeholder:text-gray-300 disabled:ring-gray-300;
  }

  .input-error {
    @apply px-3 w-full rounded-sm ring-1 ring-red-600 border-0  focus:border-0 focus:ring-2 focus:ring-red-600 disabled:cursor-not-allowed;
  }

  .input-table {
    @apply px-2 py-0 rounded-sm w-32 bg-transparent ring-1 bg-zinc-50 ring-zinc-300 border-0 focus:border-0 focus:ring-2 focus:ring-primary;
  }

  .checkbox-primary {
    @apply sm:w-[18px] sm:h-[18px] h-5 w-5 rounded-sm text-primary border border-gray-400 focus:ring-0 disabled:bg-stone-200 disabled:text-gray-200 disabled:cursor-not-allowed cursor-pointer;
  }

  .tag-primary {
    @apply bg-primary px-2 rounded-md text-white w-fit text-sm h-fit;
  }

  .tag-guest {
    @apply bg-gray-600 px-2 rounded-md text-white w-fit h-fit sm:text-sm text-xs;
  }

  .carousel-img {
    @apply w-full object-center object-cover h-full border;
  }

  /* form */
  .field {
    @apply flex flex-col gap-1 w-full;
  }

  .field .field_with_errors label {
    @apply text-red-600;
  }

  .field input,
  textarea,
  select {
    @apply input-primary;
  }

  .field .field_with_errors input {
    @apply input-error;
  }

  .field .field_with_errors textarea {
    @apply input-error;
  }

  .field .field_with_errors select {
    @apply input-error;
  }

  .field:has(input[required]) label:after {
    @apply content-['*'] text-red-600;
  }

  .field:has(textarea[required]) label:after {
    @apply content-['*'] text-red-600;
  }

  .field:has(select[required]) label:after {
    @apply content-['*'] text-red-600;
  }

  /* items */
  .items:has(.item) .items-empty {
    @apply hidden;
  }

  /* table */
  table {
    @apply w-full rounded-sm drop-shadow-sm bg-white;
  }

  table thead {
    @apply border-b;
  }

  table tbody {
    @apply divide-y;
  }

  table thead tr th {
    @apply px-4 py-3 text-start font-semibold text-[15px];
  }

  table tbody tr td {
    @apply px-4 py-3 hover:bg-gray-50;
  }

  table tbody tr {
    @apply hover:bg-gray-50;
  }

  /* form table */
  ul.form-table-head {
    @apply border-b text-sm font-semibold;
  }

  ul.form-table-head li {
    @apply py-4 px-5;
  }

  ul.form-table-body {
    @apply divide-y;
  }

  .variant-radio {
    @apply rounded-sm bg-white drop-shadow-sm ring-1 ring-gray-400 cursor-pointer peer-disabled:text-gray-300 peer-disabled:ring-gray-300 peer-checked:text-primary peer-checked:ring-primary px-4 py-2.5 text-[15px] peer-checked:bg-primary/[.04];
  }

  .errors {
    @apply py-2 px-3 rounded-sm border border-red-600 bg-red-600/10 text-red-600 text-[15px];
  }

  .tab {
    @apply -mb-0.5 transition-colors text-nowrap duration-150 text-center inline-block px-4 py-3 border-b-2 rounded-t-lg text-gray-600 hover:text-gray-900 border-transparent hover:border-gray-500 w-full;
  }

  .tab.active {
    @apply border-primary text-primary;
  }

  /* Public Product */
  #public-price {
    @apply sm:text-3xl text-2xl text-primary font-medium;
  }

  #public-price #price #discounted {
    @apply text-lg;
  }

  #notification-container {
    @apply fixed z-[9999] top-6 right-7;
  }

  #quantity-container {
    @apply flex items-center gap-4;
  }

  #quantity-container #stocks {
    @apply text-gray-800;
  }

  /* Quantity */
  #quantity {
    @apply flex;
  }

  #quantity .decrement {
    @apply text-sm border border-gray-400 px-3 py-0 h-9 rounded-l-sm hover:border-primary hover:text-primary;
  }

  #quantity .increment {
    @apply text-sm border border-gray-400 px-3 py-0 h-9 rounded-r-sm hover:border-primary hover:text-primary;
  }

  #quantity .number-input {
    @apply h-9 px-1 focus:border-gray-400 border border-x-0 border-y-gray-400 w-[60px] text-center focus:ring-0;
  }

  #quantity.small .decrement {
    @apply text-sm border border-gray-400 px-2.5 py-0 h-8 rounded-l-sm hover:border-primary hover:text-primary;
  }

  #quantity.small:has(.number-input[disabled]) .decrement {
    @apply text-sm border border-gray-200 text-gray-200 px-2.5 py-0 h-8 rounded-l-sm cursor-not-allowed;
  }

  #quantity.small .increment {
    @apply text-sm border border-gray-400 px-2.5 py-0 h-8 rounded-r-sm hover:border-primary hover:text-primary;
  }

  #quantity.small:has(.number-input[disabled]) .increment {
    @apply text-sm border border-gray-200 text-gray-200 px-2.5 py-0 h-8 rounded-r-sm cursor-not-allowed;
  }

  #quantity.small .number-input {
    @apply h-8 px-1 focus:border-gray-400 border border-x-0 border-y-gray-400 w-[54px] text-[15px] text-center focus:ring-0;
  }

  #quantity.small .number-input[disabled] {
    @apply h-8 px-1 cursor-not-allowed text-gray-200 border border-x-0 border-y-gray-200 w-[54px] text-[15px] text-center focus:ring-0;
  }

  #quantity input[type="number"] {
    appearance: textfield;
  }

  #quantity input[type="number"]::-webkit-inner-spin-button,
  #quantity input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  #carts-total {
    @apply text-primary text-xl;
  }

  /* Accordion */
  .accordion-container {
    @apply bg-white border-x border-gray-300;
  }

  .accordion {
    @apply w-full;
  }

  .accordion-btn {
    @apply cursor-pointer px-4 py-2 bg-white flex justify-between gap-3 items-center border-t border-gray-300 group-last:border-b text-[15px] hover:bg-gray-50;
  }

  .accordion-content {
    @apply w-full py-4 px-4 border-t border-gray-300 group-last:border-b group-last:border-t-0;
  }
}

/* Stimulus Dialog */

/* Prevent scrolling while dialog is open */
body:has(dialog[data-dialog-target="dialog"][open]) {
  overflow: hidden;
}

/* Customize the dialog backdrop */
dialog {
  box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
}

@keyframes dialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Add animations */
dialog[data-dialog-target="dialog"][open] {
  animation: dialog-fadein 200ms forwards;
}

dialog[data-dialog-target="dialog"][closing] {
  animation: dialog-fadeout 200ms forwards;
}

/* Turbo */
.turbo-progress-bar {
  @apply bg-primary;
}

/* Pagy */
.pagy-nav {
  @apply flex gap-2;
}

.pagy-nav .page.active {
  @apply bg-zinc-50 rounded-sm ring-1 ring-primary px-3 py-0.5 text-primary;
}

.pagy-nav .page {
  @apply bg-zinc-50 flex items-center rounded-sm ring-1 ring-gray-300;
}

.pagy-nav .page a {
  @apply px-3 py-0.5;
}

.pagy-nav .page.prev.disabled {
  @apply bg-zinc-50 rounded-sm ring-1 ring-gray-200 text-gray-200 px-3 py-0.5 cursor-not-allowed;
}

.pagy-nav .page.next.disabled {
  @apply bg-zinc-50 rounded-sm ring-1 ring-gray-200 text-gray-200 px-3 py-0.5 cursor-not-allowed;
}

.pagy-info {
  @apply text-gray-800;
}

/* Order Status */
.pending-status {
  @apply w-fit h-fit bg-yellow-500/5 border border-yellow-500 px-2 rounded-md text-sm text-yellow-500;
}

.to_ship-status {
  @apply w-fit h-fit bg-purple-600/10 border border-purple-600 px-2 rounded-md text-sm text-purple-600;
}

.to_recieve-status {
  @apply w-fit h-fit bg-sky-600/10 border border-sky-600 px-2 rounded-md text-sm text-sky-600;
}

.completed-status {
  @apply w-fit h-fit bg-green-600/10 border border-green-600 px-2 rounded-md text-sm text-green-600;
}

.cancelled-status {
  @apply w-fit h-fit bg-red-600/10 border border-red-600 px-2 rounded-md text-sm text-red-600;
}

.returned-status {
  @apply w-fit h-fit bg-fuchsia-600/10 border border border-fuchsia-600 px-2 rounded-md text-sm text-fuchsia-600;
}

.refunded-status {
  @apply w-fit h-fit bg-pink-600/10 border border-pink-600 px-2 rounded-md text-sm text-pink-600;
}

.rich-text-container {
}

trix-toolbar .trix-button.trix-active {
  @apply !bg-primary/20;
}
