.flex.flex-col.gap-5{data: {"products--public-target": "options"}}
  - @product.product_options.each do |po|
    .flex.flex-col.gap-3{data: {"products--public-target": "optionInstance"}}
      %span.font-medium.text-sm.text-zinc-500
        = po.option.display_name
      .flex-wrap.flex{class: "gap-2.5", data: {"products--public-target": "option"}}
        - po.variant_option_values.joins(:variant).order(variants: {position: :asc}).group_by { |vov| vov.product_option_value.name }.each do |name, arr|
          .flex
            = radio_button_tag po.option.name, name, false, id: name, class: "peer hidden", disabled: true, data: {action: "click->products--public#radioToggle", was_checked: false, variant_ids: arr.map { |a| a.variant_id }.join(','), "products--public-target": "radio"}
            %label.variant-radio{for: name}
              = name
