- title "Products"
- description "Product List"
- keywords "cart, product, orders"

.w-full.margin-max-screen.gap-10.py-8
  .grid.grid-cols-4.md:grid-cols-5.gap-2.sm:gap-4.md:gap-5
    - @products.each do |product|
      = render "item", product:
